.header {
	position: relative;
	z-index: 199;
	padding: 16px 0 18px;
	background-color: #fff;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@include mobile {
		padding: 4px 0 8px;
	}
}

.header__logo {
	flex-shrink: 0;
}
.header__nav {
	margin-left: auto;

	@include mobile {
		display: none;
	}
}

.header__account {
	&--first {
		margin-left: auto;
		margin-right: 24px;

		@include tablet {
			margin-right: 12px;
		}

		@include mobile {
			order: -1;
			margin-left: unset;
		}
	}
}

.account {
}
.header__nav-btn {
	display: none;
}
