.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--search {
	fill: #0c0c0c; 
}
.icon--person {
	fill: #0c0c0c; 
}
.icon--favorite {
	stroke: #0c0c0c;
	fill: #fff;
}
.icon--bag {
	fill: #0c0c0c; 
}
.icon--menu {
	fill: #0c0c0c; 
}
.icon--arrow-down {
	fill: #0c0c0c; 
	width: 24px;
	height: 24px;
}